In [1]:
#import libraries
import tensorflow as tf
import pandas as pd
import numpy as np

In [2]:
#setting working tree directory
import os
os.chdir ("c:\\users\\c_ton\\Documents")

In [3]:
#reading data
data = pd.read_csv('./ROAD_ACCIDENT.csv')

In [4]:
#printing column names
data.columns

Index(['Serial Number', 'Name of the Data Collect Source', 'Date',
       'District where death(s) happened',
       'Thana/Upazilla/Pourasava where Accident Happened',
       'Number of Accident', 'Number of Death', 'Number of Injury',
       'Age of Victim (Maximum Number of Accident Occurred in One Age Group)'],
      dtype='object')

In [5]:
#viewing data
data.head()

,Serial Number,Name of the Data Collect Source,Date,District where death(s) happened,Thana/Upazilla/Pourasava where Accident Happened,Number of Accident,Number of Death,Number of Injury,Age of Victim (Maximum Number of Accident Occurred in One Age Group)
0,1,JANAKANTHA,1-Jan-15,PABNA,BERA,8,9,4,4
1,2,JANAKANTHA,2-Jan-15,GAZIPUR,TONGI,4,1,7,4
2,3,JANAKANTHA,3-Jan-15,RANGPUR,BADARGANJ,9,3,12,3
3,4,JANAKANTHA,4-Jan-15,GAZIPUR,SREEPUR,5,8,6,5
4,5,JANAKANTHA,5-Jan-15,RAJSHAHI,RAJPARA,7,5,6,5

In [6]:
#cheaking shape of data
data.shape

(2008, 9)

In [7]:
#checking the null value of the data set
data[data.isnull().any(axis=1)].head()

Empty DataFrame
Columns: [Serial Number, Name of the Data Collect Source, Date, District where death(s) happened, Thana/Upazilla/Pourasava where Accident Happened, Number of Accident, Number of Death, Number of Injury, Age of Victim (Maximum Number of Accident Occurred in One Age Group)]
Index: []

In [8]:
x=data.iloc[:,:-1]

In [9]:
x

,Serial Number,Name of the Data Collect Source,Date,District where death(s) happened,Thana/Upazilla/Pourasava where Accident Happened,Number of Accident,Number of Death,Number of Injury
0,1,JANAKANTHA,1-Jan-15,PABNA,BERA,8,9,4
1,2,JANAKANTHA,2-Jan-15,GAZIPUR,TONGI,4,1,7
2,3,JANAKANTHA,3-Jan-15,RANGPUR,BADARGANJ,9,3,12
3,4,JANAKANTHA,4-Jan-15,GAZIPUR,SREEPUR,5,8,6
4,5,JANAKANTHA,5-Jan-15,RAJSHAHI,RAJPARA,7,5,6
...,...,...,...,...,...,...,...,...
2003,2004,DHAKA TRIBUNE,26-Jun-20,SATKHIRA,SATKHIRA SADAR,6,9,15
2004,2005,DHAKA TRIBUNE,27-Jun-20,RAJSHAHI,RAJSHAHI SADAR,8,2,11
2005,2006,DHAKA TRIBUNE,28-Jun-20,NAOGAON,DHAMOIRHAT,12,17,2
2006,2007,DHAKA TRIBUNE,29-Jun-20,NAOGAON,MOHADEVPUR,4,7,1
2007,2008,DHAKA TRIBUNE,30-Jun-20,KUSHTIA,KUSHTIA SADAR,7,4,1

In [10]:
y=data.iloc[:,:4]

In [11]:
y

,Serial Number,Name of the Data Collect Source,Date,District where death(s) happened
0,1,JANAKANTHA,1-Jan-15,PABNA
1,2,JANAKANTHA,2-Jan-15,GAZIPUR
2,3,JANAKANTHA,3-Jan-15,RANGPUR
3,4,JANAKANTHA,4-Jan-15,GAZIPUR
4,5,JANAKANTHA,5-Jan-15,RAJSHAHI
...,...,...,...,...
2003,2004,DHAKA TRIBUNE,26-Jun-20,SATKHIRA
2004,2005,DHAKA TRIBUNE,27-Jun-20,RAJSHAHI
2005,2006,DHAKA TRIBUNE,28-Jun-20,NAOGAON
2006,2007,DHAKA TRIBUNE,29-Jun-20,NAOGAON
2007,2008,DHAKA TRIBUNE,30-Jun-20,KUSHTIA

In [12]:
#convert datafrom to numpy array
data = data.to_numpy()

In [13]:
data.shape

(2008, 9)

In [14]:
# get training and testing dataset from numpy
training = data[0:1808]
testing = data[1808:2008]

In [15]:
#print training and testing dataset in shape
print (training.shape)
print (testing.shape)

(1808, 9)
(200, 9)

In [16]:
#separate true lebel from training and testing dataset
training_features = training [:,0:-1]
training_labels = training [:,-1]
testing_features = testing [:,0:-1]
testing_labels = testing [:,-1]

In [17]:
#print shape of import that testing feature and true lavels that is traing lavels
print (training_features.shape)
print (training_labels.shape)

(1808, 8)
(1808,)

In [18]:
#checking input shape to evolutionary algorithm
training_features[0].shape

(8,)

In [19]:
#import classes
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input,Dense,Dropout

In [20]:
# model defination
model= Sequential()
model.add (Input(shape=(8,)))
model.add (Dense(16,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(8,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1,activation='sigmoid'))

In [21]:
# configure model training
model.compile(optimizer='sgd',loss='binary_crossentropy', metrics=['accuracy'])